.Content h1{
    display: flex;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: navy;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}

.question {
    display: flex;
    justify-content: center;
}

