ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333333;
    width:2000px;
    /* color: antiquewhite; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    color: rgb(58, 171, 185);
}

h1.header  {
    font-size: 30px;
}