{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

    <section class="lessons">
        <h1>Dwarvish Lessons</h1>
        <a href="lesson1/index.html">lesson 1</a>
        <a href="#">lesson 2</a>
        <a href="#">lesson 3</a>
        <a href="#">lesson 4</a>
        <a href="#">lesson 5</a>
        <a href="#">lesson 6</a>
        <a href="#">lesson 7</a>
        <a href="#">lesson 8</a>
    </section>


    <footer>

    </footer>

</body>
</html>