@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

.lesson-header {
    text-align: center;
    font-size: 2.5rem;
}

.dwarvish-characters-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.dwarvish-characters  {
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem;
}

.content-wrap {
    font-size: 1.25rem;
    margin: 2rem 5rem;
    padding: 1rem;
    border: 5px solid black;
    background-color: lightblue;
    border-radius: 10px;
}